@import "tailwindcss";

/* Ripple Effect */
.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(255,255,255,0.4) 10%, transparent 10.01%);
  background-position: center;
  background-repeat: no-repeat;
  transform: scale(10);
  opacity: 0;
  transition: transform 0.6s, opacity 1s;
}

.ripple:active::after {
  transform: scale(0);
  opacity: 1;
  transition: 0s;
}
